name: 'Handle maintainer review'

on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: read

env:
  MAINTAINERS: "v1nvn"

jobs:
  handle-review:
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for lgtm from maintainer
        env:
          GH_TOKEN: ${{ secrets.BOT_TOKEN }}
          PR_NUMBER: ${{ github.event.issue.number }}
          COMMENT_BODY: ${{ github.event.comment.body }}
          COMMENT_AUTHOR: ${{ github.event.comment.user.login }}
        run: ./scripts/handle-review.sh
