name: Lint
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
          cache-dependency-path: go.sum
      - name: Run lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4.0
          args: -v --timeout=5m ./...
